@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add these styles to your global CSS if not using Tailwind */
.pointer-events-none {
    pointer-events: none;
  }
  .fixed {
    position: fixed;
  }
  .top-0 {
    top: 0;
  }
  .left-0 {
    left: 0;
  }
  .w-0 {
    width: 0;
  }
  .h-0 {
    height: 0;
  }
  .w-32 {
    width: 8rem; /* Adjust size as needed */
  }
  .h-32 {
    height: 8rem; /* Adjust size as needed */
  }
  .rounded-full {
    border-radius: 9999px;
  }
  .bg-white {
    background-color: white;
  }
  .opacity-50 {
    opacity: 0.5;
  }
  .blur-xl {
    filter: blur(20px); /* Adjust blur as needed */
  }
  

  /* styles/globals.css */

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


/* Add basic responsive styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
